.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    /* -webkit-text-stroke: 1px #fff; */
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -860px 0;
    animation: backcolor 2.5s linear infinite alternate;
}
@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}
