*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.container{
    position: relative;
    min-height: 100vh;
}
.bg{
    width: 100%;
    height: 100%;
    position: relative;
}
.bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* https://images.squarespace-cdn.com/content/v1/58c0c62bd2b8574cf9ae84f9/1567428181221-FM63MS2E7BA9V2XPBRWB/image-asset.jpeg */
    background-image:url(https://images.unsplash.com/photo-1548679847-1d4ff48016c7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2xlYW4lMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D) ;
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(45%);
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menu .logo{
    width: 80px;
}
.menu ul li{
    display: inline-block;
    margin: 5px 20px;
    
}
.menu ul li a{
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    padding: 7px 20px;
    border-radius: 16px;
    font-family: 'Nerko One', cursive;
}



/* new */
.menu ul li a:hover,
.menu ul li a.active{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.content{
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.content .header,.card{
    width: 50%;
    position: relative;
}
.content .header{
    color: #fff;
    padding: 25px;
}
.content .header h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.content .header h2{
    font-size: 4.5rem;
}
.content .header p{
    
    opacity: .8;
}

.card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}
.card .box{
    width: 100%;
    height: 230px;
    background-position: center;
    background-size: cover;
    border-radius:18px;
    transition: .5s;
    position: relative;
}
.bg1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/12/%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%9A%E0%B8%B1%E0%B8%99%E0%B9%80%E0%B8%97%E0%B8%84%E0%B9%82%E0%B8%99%E0%B9%82%E0%B8%A5%E0%B8%A2%E0%B8%B5%E0%B8%88%E0%B8%B4%E0%B8%95%E0%B8%A3%E0%B8%A5%E0%B8%94%E0%B8%B2_Chitralada_Technology_Institute.jpg);
}
.bg2{
    background-image: url(https://scontent.fbkk29-7.fna.fbcdn.net/v/t39.30808-1/329426718_2044381425750423_8831949512657936324_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=108&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeG8ngu8pAL4fqE3hWkdnsLmXrnAgvtDiQpeucCC-0OJCtShqD9Uz4lLZP7JjCETZyZ7TH3z0H2vWntSt7DLP6rD&_nc_ohc=B3F473ieqA0Q7kNvgGtEap0&_nc_oc=AdiAEVeoIluA4OMgAUV_EZoDUW4pt19PTy-28_xO50TBKnGRyx728jn8g8xM_7I3eBo&_nc_zt=24&_nc_ht=scontent.fbkk29-7.fna&_nc_gid=AedGY2DIpsSmdBjPBGwlI53&oh=00_AYAeYNEuV-_WY8oFSJMtG78SK-Y5X3Gx_jGldl_nC6X2zg&oe=677D96F5);
}
.bg3{
    background-image: url(https://www.cdti.ac.th/wp-content/uploads/2023/06/Prof.-Dr.-Wara-Warawit.png);
}
.bg4{
    background-image: url(https://scontent.fbkk29-7.fna.fbcdn.net/v/t39.30808-6/468394271_3866515950291486_9141618796065657986_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFx69dEsQWgtuGMix9DwWnf0xhfbH-j3x3TGF9sf6PfHXxMNYj046b3rmQ8U1UK2IBXL6sH2TzMmWcDvsESf8_d&_nc_ohc=8wIlW6WZB-kQ7kNvgG2yBvQ&_nc_oc=Adjr5XuwAhShrKtc6AqU6Qmv3flRPhniOGPWhCo_iMIg3ODmJX075G4T0cSWxDYyP5s&_nc_zt=23&_nc_ht=scontent.fbkk29-7.fna&_nc_gid=AGm6fbmpNsjmoBhyiibmZj4&oh=00_AYAO0d50BXvGPNhzbY8fM-PuwBYlP_Om8cYJTVSB6WBi_A&oe=677D9905);
}
.content .box h2{
    position:absolute;
    bottom: 10px;
    left: 20px;
    color: rgb(255, 255, 255);
}
.content .box:hover{
    transform: translateY(-15px);
}


.text {
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text span{
    position: relative;
    display:  inline-block;
    color: rgb(250, 250, 250);
    font-size: 2em;
    font-family: 'Nerko One', cursive;
    font-size: 110px;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20%);
    }
    40%,100%{
        transform: translateY(0px);
    }
}
.text p{
    font-size: 12px;
}
.btn {
    margin: 38px auto 0;
}
.btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding:  12px 0;
    color: #fff;
    border: .5px solid #fff;
    font-family: 'Nerko One', cursive;
    font-size: 18px;
    position: relative;
    border-radius:50px;
}
.btn a:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.overlap{
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.img1{
    margin: auto;
    border: 10px;
    padding: 10px;
    position: relative;
    left: 45px;
}
.img2{
    margin: auto;
    border: 10px;
    padding: 10px;
    position: relative;
    z-index: 1;
}
.img3{
    margin: auto;
    border: 10px;
    padding: 10px;
    position: relative;
    left: -45px;
}